<div id="content" class="container"></div>
<script>
  var $content = $("#content");
  new Trellino.Routers.Boards({
    $rootEl: $content
  });
  Backbone.history.start();

  // $(function () {
//     // put stuff here
//   });
</script>
